.VertNavActive {
	width: 115px; height: 18px; color: rgb(255, 255, 255); line-height: 19px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; display: block; background-color: rgb(37, 37, 37);
}
.VertNavSpaceLeft {
	width: 25px;
}
.VertNavSpaceRight {
	width: 15px;
}
.VertNavSpaceLine {
	height: 4px;
}
a.VertNavLink:link {
	width: 115px; height: 18px; color: rgb(160, 165, 165); line-height: 19px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none; display: block; background-color: rgb(37, 37, 37);
}
a.VertNavLink:visited {
	width: 115px; height: 18px; color: rgb(160, 165, 165); line-height: 19px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none; display: block; background-color: rgb(37, 37, 37);
}
a.VertNavLink:focus {
	width: 115px; height: 18px; color: rgb(255, 255, 255); line-height: 19px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none; display: block; background-color: rgb(37, 37, 37);
}
a.VertNavLink:hover {
	width: 115px; height: 18px; color: rgb(255, 255, 255); line-height: 19px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none; display: block; background-color: rgb(37, 37, 37);
}
.HorNavBar {
	border-style: none none none solid; width: 10px; border-left-color: rgb(141, 141, 141); border-left-width: 3px;
}
a.cityLink:link {
	color: rgb(141, 141, 141); font-family: Arial, Helvetica, sans-serif; font-size: 15px; text-decoration: none;
}
a.cityLink:visited {
	color: rgb(141, 141, 141); font-family: Arial, Helvetica, sans-serif; font-size: 15px; text-decoration: none;
}
a.cityLink:focus {
	color: rgb(255, 255, 255); font-family: Arial, Helvetica, sans-serif; font-size: 15px; text-decoration: none;
}
a.cityLink:hover {
	color: rgb(255, 255, 255); font-family: Arial, Helvetica, sans-serif; font-size: 15px; text-decoration: none;
}
.topRow {
	color: rgb(141, 141, 141); font-family: Arial, Helvetica, sans-serif; font-size: 15px; font-weight: bold;
}
.bottomRow {
	color: rgb(141, 141, 141); font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;
}

#navTable td {
	border-right: 3px solid rgb(141, 141, 141);
	padding-left: 5px;
}
.bottomRow {
}
a.navLink:link {
	color: rgb(141, 141, 141); font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none;
}
a.navLink:visited {
	color: rgb(141, 141, 141); font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-decoration: none;
}
a.navLink:focus {
	color: rgb(255, 255, 255); font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-decoration: none;
}
a.navLink:hover {
	color: rgb(255, 255, 255); font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-decoration: none;
}
.HorNavBet {
	height: 3px;
}
.HorNavBarBet {
	border-style: none none none solid; width: 10px; height: 5px; border-left-color: rgb(141, 141, 141); border-left-width: 3px;
}
a.impressumNavLink:link {
	color: rgb(141, 141, 141); font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; text-decoration: none;
}
a.impressumNavLink:visited {
	color: rgb(141, 141, 141); font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; text-decoration: none;
}
a.impressumNavLink:focus {
	color: rgb(255, 255, 255); font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; text-decoration: none;
}
a.impressumNavLink:hover {
	color: rgb(255, 255, 255); font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; text-decoration: none;
}
.VertNavSpaceInActive {
	width: 7px;
}
.VertNavSpaceActive {
	width: 7px;
}
